In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('rating_final.csv')

cuisine = pd.read_csv('chefmozcuisine.csv')

In [3]:
df.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [4]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [7]:
#userid => users or resturant reviewers
#placeid => resturant
#rating => 2 down to 0

##### Recommendation base on counts

In [6]:
rating_count = pd.DataFrame(df.groupby('placeID')['rating'].count())

In [10]:
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [11]:
#checking if there are similarities in the cuisines served by the top 5 places

In [15]:
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])

In [17]:
summary = pd.merge(most_rated_places, cuisine, on='placeID')

In [18]:
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [19]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object